# IS 4487 Module 5

## Outline

 - Identify the target variable for an analysis based on the business problem.
 - Compute the mean of a binary variable.
 - Plot a numeric (or count) variable against a categorical 
    variable.
 - Calculate a count (and a proportion) for a categorical variable 
    and visualize the result into a plot.

<a href="https://colab.research.google.com/github/Stan-Pugsley/is_4487_base/blob/main/Labs/Scripts/lab5_megatelco_eda.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Load Libraries

In this class we will be using 
- Pandas
- Scikitlearn
- Matplotlib

In [8]:
import pandas as pd
import matplotlib as mpl
import sklearn as sl

## Getting data into Pandas

See the Canvas assignments and lectures for a description of the Megatelco data

In [9]:
df = pd.read_csv('https://github.com/Stan-Pugsley/is_4487_base/blob/main/Labs/DataSets/megatelco_leave_survey.csv?raw=true')
print (df)

Mounted at /content/gdrive

In [ ]:
#look at the top rows
df.head(10)

In [ ]:
#look at the datatypes
df.info()

In [ ]:
#describe the data before cleaning it, clean it, then describe again
df.describe()

In [ ]:
df_clean = df[(df['house'] > 0) & (df['income'] > 0) & (df['handset_price'] < 1000)]
df_clean.describe()

## Calculate distribution of the outcome  

What is the proportion of people who churned?

In [ ]:
df_clean[['house','leave']].groupby('leave').mean().round(2)

# Create basic charts

- Bar chart
- Histogram
- Box plot
- Scatter plot

In [ ]:
#Bar chart
df_clean[['house','leave']].groupby('leave').mean('house').plot.bar()

In [ ]:
#Histogram
hist = df_clean['house'].plot.hist(bins=10,title='House Price (in millions)')

In [ ]:
#Boxplot
df_clean[['leave','house']].boxplot(by='leave')

# Explore Relationships

###How does College affect leaving?

In [ ]:
#Bar chart with counts
df_clean[['college','leave']].groupby('leave').count().plot.bar()

In [ ]:
#Bar chart with percentage
college_summary = df_clean[['college','leave']].groupby('leave').count()

college_summary['college'] = (college_summary['college'] / college_summary['college'].sum()) * 100
#college_summary.head()
college_summary.plot.bar()

### How does phone price affect leaving?

In [ ]:
#Bar chart with mean price
handset_price_summary = df_clean[['handset_price','leave']].groupby('leave').mean(['handset_price'])
#handset_price_summary.head()

handset_price_summary.plot.bar()

### How about considering leaving?

In [ ]:
#Bar chart with percentage
plan = df_clean[['considering_change_of_plan','leave']].groupby('leave').count()

plan['considering_change_of_plan'] = (plan['considering_change_of_plan'] / plan['considering_change_of_plan'].sum()) * 100

plan.plot.bar()

## Create a Pair Plot
➡️ Assignment Tasks
- Import seaborn
- Create a Seaborn "pairplot" using all variables, with the color determine by "leave"
- Display the plot

In [ ]:
#pair plot

In [ ]:
## Additional Cleanup

➡️ Assignment Tasks
- Remove any records with null values from the dataframe

## Summarize Data

➡️ Assignment Tasks
- Create a second set of charts that include the outlier values (house, income, price).   How do the outliers affect the values in the charts?

In [ ]:
#house price

In [ ]:
#income

In [ ]:
#price